@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  max-width: 1200px;
}

.site-header {
  padding-top: 26px;
}

.site-header__logo-block {
  height: 34px;
  width: 150px;
  margin-bottom: 17px;
}

.site-header__list {
  display: flex;
  gap: 50px;
}

.site-header__item {
  border: 3px solid transparent;
  padding-bottom: 17px;
}

.site-header__item:hover {
  border-bottom: 3px solid #46A358;
}

.site-hader__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
}

.site-header__button-link-1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 8px 17px;
  background: #46A358;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.site-header__button-block {
  display: flex;
  align-items: center;
  gap: 30px;
}

.site-header__button-img-1 {
  height: 20px;
  width: 20px;
}

.site-header__input-block {
  max-width: 350px;
  display: flex;
  align-items: center;
  display: none;
  background: #F8F8F8;
  border-radius: 10px;
}

.site-header__input {
  border: none;
  outline: none;
  padding: 11px;
}

.site-header__input-img {
  margin-right: 10px;
}

.site-header__menu {
  width: 45px;
  height: 45px;
  background: linear-gradient(137.05deg, rgba(70, 163, 88, 0.45) -24.6%, #46A358 100%);
  box-shadow: 0px 10px 20px rgba(70, 163, 88, 0.3);
  border-radius: 14px;
  border: none;
  position: relative;
  cursor: pointer;
  display: none;
}

.site-header__menu ::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url(../img/filter.svg);
  transform: translate(-50%, -50%);
  display: inline-block;
}

@media screen and (max-width: 820px) {
  .site-header__logo-block {
    display: none;
  }
  .site-header__list {
    display: none;
  }
  .site-header__button-block {
    display: none;
  }
  .site-header__input-block {
    display: flex;
  }
  .site-header__container {
    border-bottom: none;
  }
  .site-header__menu {
    display: inline-block;
  }
  .hero__span-1 {
    display: none;
  }
}
.hero__container {
  position: relative;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.hero__top-box {
  max-width: 557px;
  margin-left: 40px;
  margin-top: 68px;
}

.hero__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D3D3D;
}

.hero__subtitle {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  color: #3D3D3D;
  margin-top: 7px;
  margin-bottom: 5px;
}

.hero__span {
  color: #46A358;
}

.hero__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #46A358;
  border-radius: 6px;
  margin-top: 44px;
  border: none;
  padding: 11px 27px 9px 26px;
}

.hero__botoom-box {
  align-items: center;
  justify-content: space-between;
  max-width: 518px;
  height: 518px;
}

@media screen and (max-width: 1200px) {
  .hero__bottom-img {
    height: 460px;
    max-width: 460px;
    flex-shrink: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__subtitle {
    font-size: 56px;
    line-height: 56px;
  }
  .hero__top-box {
    max-width: 400px;
    margin-left: 40px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 800px) {
  .hero__container {
    max-width: 500px;
    height: 250px;
    background-image: url(../../img/backj.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__top-box {
    width: 190px;
    margin-left: 24px;
    margin-top: 23px;
  }
  .hero__text {
    font-size: 12px;
    line-height: 18px;
  }
  .hero__botoom-box {
    margin-right: -80px;
  }
  .hero__title {
    font-size: 11px;
    line-height: 16px;
  }
  .hero__subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  .hero__bottom-img {
    margin-top: 150px;
    height: 213px;
    max-width: 213px;
    flex-shrink: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__button {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    background-color: transparent;
    color: #46A358;
    margin-top: 10px;
    border: none;
    padding: 0;
  }
  .hero__button ::after {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../img/right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
  }
}
.plan__container {
  margin-top: 30px;
  display: flex;
}

.plan__left-top {
  max-width: 310px;
  height: 774px;
  background: #FBFBFB;
}

.plan__left-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  margin-left: 18px;
  padding-top: 14px;
}

.plan__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 40px;
}

.plan__list {
  padding: 0 30px;
  margin-top: 7px;
}

.plan__item:hover .plan__span {
  color: #46A358;
}

.plan__item:hover {
  color: #46A358;
}

.plan__litle-box {
  max-width: 226px;
  height: 133px;
  margin-left: 18px;
  margin-top: 36px;
}

.plan__litle {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 20px;
}

.plan__line-hero {
  display: flex;
  align-items: center;
}

.plan__line-box {
  width: 30px;
  height: 28px;
  background: #46A358;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}

.plan__line {
  width: 150px;
  border-bottom: 6px solid #46A358;
}

.plan__line-1 {
  width: 36px;
  border-bottom: 6px solid rgba(70, 163, 88, 0.2);
}

.plan__little-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #3D3D3D;
  margin-top: 15px;
}

.plan__little-span {
  color: #46A358;
}

.plan__little-button {
  width: 90px;
  height: 35px;
  background: #46A358;
  border-radius: 6px;
  border: none;
  padding: 8px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 16px;
}

.plan__size-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #3D3D3D;
  margin-top: 46px;
  margin-left: 6px;
}

.plan__left-bottom {
  width: 370px;
  height: 470px;
  margin-left: -41px;
}

.plan__right-top {
  width: 838px;
  height: 23px;
}

.plan__right-block {
  margin-left: 20px;
}

.plan__right-list {
  display: flex;
  gap: 40px;
}

.plan__right-item-1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #3D3D3D;
}

.plan__right-item-1:hover {
  color: #46A358;
  padding-bottom: 7px;
  border-bottom: 2px solid #46A358;
}

#modal {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 580px;
  padding: 15px;
  border: none;
  border-bottom: 10px solid #46A358;
}

#modal::-webkit-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#close__btn {
  transform: scale(1.3);
  margin-bottom: 21px;
  margin-left: auto;
}

#close__btn:hover {
  cursor: pointer;
  background-color: #46A358;
  border-radius: 6px;
}

#close__btn:hover path {
  stroke: white;
}

.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: #3D3D3D;
  text-align: center;
}

.modal__span:hover {
  color: #46A358;
}

.input__box {
  margin-top: 53px;
  text-align: center;
  max-width: 301px;
}

.input__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #3D3D3D;
}

.modal__input {
  width: 300px;
  height: 40px;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding: 12px 14px;
  margin-top: 14px;
}

.input__text-1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #46A358;
  text-align: right;
  margin-top: 14px;
  margin-bottom: 27px;
}

.modal__buttun-1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  width: 300px;
  height: 45px;
  background: #46A358;
  border-radius: 5px;
  border: none;
}/*# sourceMappingURL=main.css.map */